body {
    font-family: 'Nanum Gothic', sans-serif;
}

.container {
    max-width: 1024px;
    margin: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
            " . header header  section1 "
    "section2 section3 section3 section1 "
    "section4 section5 section6  section6 "
    ". footer footer .";
}
.container>*{
    background-color: cornsilk;
    border-radius: 3%;
}
header {
    grid-area: header;

}

.section1 {
    grid-area: section1;

}

.section2 {
    grid-area: section2;

}

.section3 {
    grid-area: section3;

}

.section4 {
    grid-area: section4;

}

.section5 {
    grid-area: section5;

}

.section6 {
    grid-area: section6;

}

footer {
    grid-area: footer;
    background-color: cornsilk;
}


